.App {
  height: 100vh;
  background-color: #282c34;
  background-image: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg');
}

.card {
  background-color: blueviolet;
  height: 200px;
  width: 300px;
}